<!-- templates/messages/chat.html -->
<head>
  <meta http-equiv="refresh" content="30">
</head>
<h2>Chat</h2>
<form action="/chat/" method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit" value="Submit">Send</button>
</form>
{% for text in texts %}
  <hr>
    {{text.station.name}}: {{text.text}} {{text.updated_at}}
    <a href="http://maps.google.com/maps?z=12&t=k&q=loc:{{text.position_log.latitude}}+{{text.position_log.longitude}}" target="_blank">location</a>
  </hr>
{% endfor %}
